<body>
    <div class="ticket">
      <div class="header">
        <h1>Restaurant POS</h1>
        <p>123 Rue Exemple, 75000 Paris</p>
        <p>Téléphone : +216 99 70 99 90</p>
        <p>Date: {{formatDate}} {{timeString}}</p>
      </div>
      
      <div class="items">
        <div class="item" *ngFor="let finded of finded">
          <p>{{finded.name}}</p>
          <p>{{finded.prix}} DT</p>
        </div>
      </div>
  
      <div class="total">
        <p>Total : <strong>{{sum}} DT</strong></p>
      </div>
  
      <div class="footer">
        <p>Merci pour votre achat !</p>
        <p>Suivez-nous sur les réseaux sociaux !</p>
      </div>
      <button onclick="window.print()" (click)="print()">Imprimer</button>
    </div>
  </body>