<header>
    <h1>Restaurant POS</h1>
    <!-- Toggle Button (Hamburger Menu) -->
    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar" id="navbar">
      <ul>
        <li><a href="">Home</a></li>
        <div class="nav">
          <div class="dropdown">
            <a href="#">Matiere</a>
            <div class="dropdown-content">
              <a href="add-prod">Add Prod</a>
              <a href="#">Prod</a>
            </div>
          </div>
        </div>
        <li><a href="#">Comptabilité</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>


  </header>

