<header>
    <h1>Restaurant POS </h1>
    <div *ngIf="!token">
      <a href="login"><img style="height: 30px; margin-left: 90%; margin-top: -100px;" src="assets/login.png" alt=""></a>
    </div>
    <div *ngIf="token">
      <a  (click)="removeToken()"><img style="height: 30px; margin-left: 90%; margin-top: -100px;" src="assets/enter.png" alt=""></a>
    </div>
    
    <!-- Toggle Button (Hamburger Menu) -->
    <div class="menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- Navigation Bar -->
    <nav class="navbar" id="navbar">
      <ul>
        <li><a routerLink="" >Home</a></li>
        
        <div *ngIf="token">
          <li style="font-size: larger;margin-left: 10px;" id="btn">
            Products
            <i class="bx bx-chevron-down" id="arrow"></i>
          </li>
          <div class="dropdown" id="dropdown">
            <a routerLink="add-prod">
              <i  class="bx bx-cog"></i>
              Add prod
            </a>
            <a routerLink="my-prod">
              <i class="bx bx-folder"></i>
              My Prod
            </a>
          </div>
          <li><a routerLink="comptabilite">Comptabilité</a></li>
        </div>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>


  </header>

