<body>
    <h1 style="text-align: center;">Produits Information</h1>
    <input type="text" id="searchInput"
    style="margin-bottom: 10px; margin-left: 80%;" placeholder="Search .." class="">
    <table class="styled-table" id="dataTable">
        <caption>Produits Information</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Prix</th>
                <th>Qty</th>
                <th>Specify</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tableBody" *ngFor="let findedA of findedA | paginate:{itemsPerPage: 5, currentPage:p }let i=index" class="item">
            <tr>
                <td>{{i+1}}</td>
                <td>{{findedA.name}}</td>
                <td>{{findedA.prix}} DT</td>
                <td>{{findedA.qty}}</td>
                <td>{{findedA.specify}}</td>
                <td>{{findedA.date}}</td>
                <td> <button class="button-91" role="button" (click)="editArchive(findedA._id)">Edit</button> <button class="button-92" role="button" (click)="deleteArchive(findedA._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div id="pagination" style="text-align: center;">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </div>

    <footer style="margin-top: 200px;">
        <p>&copy; 2025 Restaurant POS</p>
    </footer>
</body>