<body>
<app-header></app-header>

  <main>
    <section class="menu">
      <h2>Menu</h2>
      <div class="menu-items">
        <button  *ngFor="let findedProd of findedProd" class="item" data-name="Pizza" data-price="10" (click)="moveAdd(findedProd._id)">{{findedProd.name}} -
          {{findedProd.prix}} DT</button>
      </div>
    </section>

    <section class="bill">
      <h2>Order Summary</h2>
      <tr *ngFor="let prod of selectedProducts">
        <a (click)="removeProd(prod._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" color="red"
            fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
          </svg></a>
        <td>{{prod.name}}</td>
       <a style="color: black;" (click)="prod.qty = prod.qty + 1"> <td style="padding-left: 100%;">x{{prod.qty}}</td></a>
        <td style="padding-left: 270%;">{{prod.prix * prod.qty}}DT</td>
      </tr>
      <div class="total">
        <strong>Total: <span id="total-price">{{sum}} DT</span></strong>
      </div>
      <button class="checkout" (click)="print()">Checkout</button>
    </section>
  </main>

  <footer style="margin-top: 170px;">
    <p>&copy; 2025 Restaurant POS</p>
  </footer>

</body>